In [48]:
# Write a python program to find first N  numbers

In [1]:

Num1 = int(input("Enter any Number: "))
 
print(" Numbers between", 1, "and", Num1, "are:")
 
for num in range(1, Num1 + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter any Number: 7
 Numbers between 1 and 7 are:
2
3
5
7

# Write the python code that calculates the salary of an employee.

In [3]:
salary=int(input("Enter the salary:"))
da=0.4*salary;
hra=0.2*salary;
gross_salary=salary+da+hra;
print("Gross Salary = ",gross_salary)

Enter the salary:10000
Gross Salary =  16000.0

# Write a python program to search for a string in the given list.

In [10]:
aam = ['K', 'a', 'm', 'a', 'l', 'i', 's']

# string in the list
if 'M' in aam:
    print('M is present in the list')

# string not in the list
if 'Z' not in aam:
    print('Z is not present in the list')

Z is not present in the list

# Write a python function that accepts a string & calculates the number of upper case letters & lower case letters

In [12]:
def stri(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

stri('Mphasis')

Original String :  Mphasis
No. of Upper case characters :  1
No. of Lower case Characters :  6

# Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [14]:

sum_odd_Number = 0
sum_even_Number = 0


for num in range(12, 38):
    
    if num % 2 == 0:
      
        sum_even_Number += num
    else:
       
        sum_odd_Number += num

print("Sum of even numbers:", sum_even_Number)
print("Sum of odd numbers:", sum_odd_Number)

Sum of even numbers: 312
Sum of odd numbers: 325

# Write a python program to print the table of any number

In [18]:
number = int(input ("Enter the number : "))      
      
print ("The Table of: ", number)    
for count in range(1, 11):      
   print (count, ' x ',number , '=', number * count)

Enter the number : 8
The Table of:  8
1  x  8 = 8
2  x  8 = 16
3  x  8 = 24
4  x  8 = 32
5  x  8 = 40
6  x  8 = 48
7  x  8 = 56
8  x  8 = 64
9  x  8 = 72
10  x  8 = 80

# Write a python program to sum the first 10 prime numbers

In [21]:
Last_number = int(input("\n enter the last number :"))
print ("sum of prime numbers", Last_number)
sum = 0

for number in range(2, Last_number + 1):

    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;

    if i is not number:
        sum = sum + number
print("\nThe sum of prime numbers from 1 to ", Last_number, " is :", sum)

 enter the last number :10
sum of prime numbers 10

The sum of prime numbers from 1 to  10  is : 15

# Write a python program to implement arithmetic operations using nested if statement

In [22]:

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


operation = input("Enter an arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 45
Enter the second number: 12
Enter an arithmetic operation (+, -, *, /): +
Result: 57.0

# Write a python program to take the temperature in celsius and convert it to a fahrenheit

In [24]:
fahrenheit = 104

celsius = (fahrenheit-32)/1.8

print('%.2f Fahrenheit is equivalent to: %.2f Celsius'
      % (fahrenheit ,celsius))

104.00 Fahrenheit is equivalent to: 40.00 Celsius

# Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [ ]:
# def mm(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(mm([456, 2, 30, 85, 0, 4, 39, 28, 888]))

# Write a program in python to print out the number of seconds in 30 day month 30 days,24hours in a day,60 minutes per day,60 seconds in a minute

In [27]:
DaysInMonth = 30
HoursInDay = 24
MinutesPerHour = 60
SecondsPerMinute = 60

seconds30days = DaysInMonth * HoursInDay * MinutesPerHour * SecondsPerMinute

# Display the result
print(f"The number of seconds in 30 days is: {seconds30days}")

The number of seconds in 30 days is: 2592000

# Write a program in python to print out the number of seconds in a year

In [29]:
DaysInYear = 365
HoursInDay = 24
MinutesPerHour = 60
SecondsPerMinute = 60

TotalSeconds =  DaysInYear* HoursInDay * MinutesPerHour*SecondsPerMinute

# Display the result
print(f"The number of seconds in a year is: {TotalSeconds} seconds")

The number of seconds in a year is: 31536000 seconds

# A high speed train can travel at an average speed of 150mph,
how long will it take a train travelling at this speed to travel from london to glasgow which is 414 miles away?

In [32]:

distance = 414
speed = 150


TimeHours = distance / speed

# Convert hours to hours and minutes
hours = int(TimeHours)
minutes = (TimeHours - hours) * 60

# Print the result
print(f"It will take {hours} hours and {minutes:.2f} minutes ")

It will take 2 hours and 45.60 minutes

# Write a python program that defines a variables called days_in_each_school_year and assign 192 to the variable.The program should then print out the total hours that you spend in school from year 7 to year 11 if each day you spend 6 hours in school days_in_each_school_year = 192

In [38]:
days_school_year = 192

years = range(7, 12)


total_hours = sum(year * days_school_year * 6 for year in years)


print(f"Total hours spent in school from year 7 to year 11: {total_hours} hours")

TypeError: 'int' object is not callable

# If the age of Ram,sam and khan are input through the keyboard,write a python program to determine the eldest and youngest of the three

In [40]:

mali = int(input("Enter mali age: "))
mani = int(input("Enter mani age: "))
magi = int(input("Enter magi age: "))

if mali >= mani and mali >= magi:
    eldest = "Mali"
    if mali <= magi:
        youngest = "Mani"
    else:
        youngest = "Magi"
elif mani >= mali and mali >= magi:
    eldest = "Mani"
    if mali <= magi:
        youngest = "Mali"
    else:
        youngest = "Magi"
else:
    eldest = "Magi"
    if mali <= mani:
        youngest = "Mali"
    else:
        youngest = "Mani"


print(f"The eldest among Mali, Mani, and Magi is: {eldest}")
print(f"The youngest among Mali, Mani, and Magi is: {youngest}")

Enter mali age: 12
Enter mani age: 53
Enter magi age: 98
The eldest among Mali, Mani, and Magi is: Magi
The youngest among Mali, Mani, and Magi is: Mali

# Write a python program to rotate a list by right n times with and without slicing technique

In [41]:
n = 3
 
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
                 + list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

# Python program to print the pattern given below
1 1 1 1 2 1 1 3 3 1 1 4 6 4 1 1 5 10 10 5 1 1 6 15 20 15 6 1

In [43]:
n = int(input("Enter the number of rows: "))


def pattern(n, k):
    if k == 0 or k == n:
        return 1
    return pattern(n - 1, k - 1) + pattern(n - 1, k)


for i in range(n):
    for j in range(i + 1):
        print(pattern(i, j), end=" ")
    print()

Enter the number of rows: 6
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

In [44]:

rows = 5
for i in range(0, rows):
    
    for j in range(0, i + 1):
        
        print("*", end=' ')
   
    print("\r")

*
* *
* * *
* * * *
* * * * *

In [45]:
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [47]:
string = input("Enter a string: ")


for i in range(1, len(string) + 1):
    print(string[:i])

Enter a string: python
p
py
pyt
pyth
pytho
python