# Manipulate using a list
fundamentals of manipulation

In [4]:
#append the elements at end of the list
lst = [7,8,776,45]
lst.append(12)
lst

[7, 8, 776, 45, 12]

In [5]:
# reverse elements in the list 
lst=[85,76,26]
lst.reverse()
lst

[26, 76, 85]

In [7]:
# display the same list of elements multiple times 
a=[10]
b=[a]* 2
b

[[10], [10]]

In [14]:
#concatenate two list
lst1=[1,2,3]
lst2=[4,5,6]
lst1.extend(lst2)
print(lsst)

[1, 2, 3, 4, 5, 6]

In [18]:
#sort the elements in list in ASC
Order=[23,86,46,756,0,1]
Order.sort()
print(Order)

[0, 1, 23, 46, 86, 756]

# python program to do tuples

In [25]:
# tuple manipulation
tup=[123,456,789]
tup[0]

123

In [26]:
#add elements in tuple 
tu=[(2,5,9)]
s_tu= tu + (11,56)
print(tu)
print(s_tu)

(2, 5, 9)
(2, 5, 9, 11, 56)

In [34]:
# reverse the element in tuple
tum=(2,5,123,9)
print("Original tuple is : ",tum)
tums=tuple(reversed(tum))
print(" reversed tuple is :  ",tums)

Original tuple is :  (2, 5, 123, 9)
 reversed tuple is :   (9, 123, 5, 2)

In [37]:
#to display the elements of the same tuple multiple times
tume=tum*3
tume

(2, 5, 123, 9, 2, 5, 123, 9, 2, 5, 123, 9)

In [38]:
tuma=tum + tums
tuma

(2, 5, 123, 9, 9, 123, 5, 2)

In [46]:
abc = sorted(tup)
abc

[123, 456, 789]

In [47]:
# python program to implement the folowing list
#3*1 create a list with integers
inti=[10,20,30,40,50,60,70,80,90,100]
inti

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [50]:
#Display last number in list
last_Element= inti[-1]
last_Element

100

In [61]:
#command for displaying the value from the list[0:4]
s="HELLOWORLD"
s

'HELLOWORLD'

In [62]:
s[0:4]

'HELL'

In [63]:
s[2:]

'LLOWORLD'

In [64]:
s[:6]

'HELLOW'

# python program : tuple1=(10,50,20,40,30)

In [70]:
#display 10 abd 50
tuple1=[10,50,20,40,30]
tuple1[0:2]

[10, 50]

In [71]:
#length of tuple1
tuple2=len(tuple1)
tuple2

5

In [72]:
#minimum element of tuple1
tuple3=min(tuple1)
tuple3

10

In [139]:
# add all elements from tuple1
tuple4=sum(tuple1)
tuple4

150

In [ ]:
tuple5=5*tuple1
tuple5

# PYTHON PROGRAM

In [78]:
#CALCULATE THE LENGTH OF STRING
name="kamalis"
Result= len(name)
Result

7

In [77]:
#length
x = len("Hello")

print(x)

5

In [94]:
#reverse the string
name[7::-1]

'silamak'

In [96]:
#slicing 
str1="South India"
print(str1[5:])

 India

In [103]:
#Display the same string multile times
print(   str1*2 )

South IndiaSouth India

In [104]:
#concatenate two strings
a="kam"
b="ali"
c=a + b
c

'kamali'

# Perform the following

In [112]:
#Dictionary
Dic={1:"a",2:"b",}
Dic

{1: 'a', 2: 'b'}

In [116]:
# update elements in dic
Dic.update({3:"c"})
Dic

{1: 'a', 2: 'b', 3: 'c'}

In [119]:
#delete elements in DIc
Dic.pop(3)
Dic

{1: 'a', 2: 'b'}

# Program to insert a number of any position in a list

In [128]:
lsst=[1,2,4,5,8]
lsst.insert(2,3)
lsst.insert(5,6)
lsst

[1, 2, 3, 4, 5, 6, 8]

# DELETE A ELEMENT IN LIST

In [132]:
lsst.remove(2)
lsst

[1, 3, 4, 5, 6, 8]

# Display 1 to 100

In [135]:
i=1
while(i<101):
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# Sum of all items in tuple1

In [138]:
tuple1.add()

AttributeError: 'list' object has no attribute 'add'

In [140]:
t1=sum(tuple1)
t1

150